/** Media Queries **/
@mixin telefono {
    @media (max-width: #{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: #{$tablet}) {
        @content;
    }
}

@mixin breakpoint($breakpoint) {
    @media (max-width: #{$breakpoint}) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: #{$desktop}) {
        @content;
    }
}

@mixin button($bgColor, $color, $display){
    background: $bgColor;
    display: $display;
    padding: 1rem 4rem;
    color: $color;
    text-transform: uppercase;
    font-family: $titlesFont;
    font-weight: $bold;
    font-size: 1.8rem;
    border: .2rem solid $naranja;
    transition: background .3s ease;

    &:hover{
        background: darken($bgColor, 7);
    }
    @content;
}